/* Mobile first queries */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font: "Avant Garde";
}

body {
  position: relative;
  min-height: 100vh;
}

.topnav {
  overflow: hidden;
}

.title-content {
  padding: 5% 25% 5% 10%;
  margin-bottom: 5%;
}

.description-text {
  padding-left: 10px;
  border-left: 5px #29B289 solid;
}

#button-container {
  text-align: center;
  margin-bottom: 5%;
}

.contact-button {
  text-transform: lowercase;
  font-weight: bold;
  background-color:#fff;
  border: 1px solid #29B289;
  text-decoration: none;
  border-radius: 2px;
  color: #222;
  padding: 10px;
}

.contact-button:hover {
  text-decoration: underline;
  color: #222;
  border: 2px solid #222;
}

#title {
  font-size: 3em;
  color: #29B289;
  font-weight: bold;
}

#body-text {
  font-size: 1.5em;
  text-align: left;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.topnav a:hover, .current-page {
  background-color: #29B289;
  color: #fff;
  opacity: 0.8;
}

.topnav a {
  display: block;
  color: #222;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 20px;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.fa {
    padding: 20px;
    font-size: 2em !important;
    width: 50px;
    text-align: center;
    color: #222222;
    text-decoration: none;
}

.fa:hover {
    color: #29B289;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 2.5rem;
}

.footer-container {
  padding-bottom: 2.5rem;
}

/* Tablet or larger view */
@media screen and (min-width: 768px) {
  #home-navbar {
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 100%;
    height: 60vh;
  }

  .topnav a {
    float: left;
  }
}
