@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Larger than mobile */
@media (min-width:50px) {
  * {
    font-family: "Open Sans", "Times New Roman", sans-serif;
  }

  li {
    list-style-type: square;
  }

  .current-page {
    color:#77322b;
  }

  #main {
    background: url("../img/main_background.jpg") #fff center top;
  }

  .menu {
    list-style-type: none;
    font-size: 2vh;
    margin-right: 10%;
  }

  .menu li {
    display: inline;
  }

  form p {
    text-align:center;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
}
