/* Mobile first queries */
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: "Raleway", "Open Sans", serif;
}

html, body{
  color: white;
  background-color: black;
  background: repeat url('https://images.unsplash.com/photo-1494281710967-ffba0989215d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6374ecf5975dd301680a45854e66cf7c&auto=format&fit=crop&w=1350&q=80');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.topnav {
  overflow: hidden;
  background-color: black;
  border-bottom: solid 1px #222;
}

.topnav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: teal;
  color: #222;
}

#project, img, .topnav .mobile-icon, .larger-view {
    display: none;
}

h5{
  text-decoration: underline;
}

.current-page {
  background-color: coral;
  color: white;
}

img {
  max-width: 100%;
}

iframe{
  width: 75%;
  height: 100%;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight:bolder;
}

footer a:hover{
  color: coral;
}

.button, .button:hover {
  color: white;
}

.larger-view {
  font-size: 2vh;
  margin-top: 20%;
  margin-bottom: 20%;
}

/* Tablet View */
@media screen and (min-width: 800px) {
  #project, img, .topnav .mobile-icon, .larger-view {
      display: block;
  }

  .mobile-view{
    display: none;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a:not(:last-child) {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav a {
    float: left;
  }

  iframe{
    width: 75%;
    height: 400px;
  }

  #project p {
    margin-left:5%;
  }

  .large-view p {
    font-size: 3vh;
  }

  footer{
    text-align: center;
    font-style: italic;
    background: rgb(248, 5, 121, 0.1);
  }

  .topnav a:not(:last-child){
    display: none;
  }
}

/* Desktop or larger view */
@media screen and (min-width: 1240px) {
  .topnav a {
    float: left;
  }

  iframe{
    height:500px;
    width: 80%;
  }

  .topnav .mobile-icon {
     display: none;
 }

 #project {
   border-left: 10px rgb(248, 131, 121, 0.5) solid;
   background-color: rgb(248, 195, 121, 0.1);
 }

 .topnav a:not(:last-child){
   display: block;
 }
}
